@model IEnumerable<LCBusService.Models.RouteStop>

<h2>@ViewData["title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteStopId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusStopNumberNavigation.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OffsetMinutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteStopId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusStopNumberNavigation.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffsetMinutes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteStopId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteStopId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteStopId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
